<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to jisrHr.com, <%= @email %></h1>
    <p>
      You have successfully Adding up to example.com,
    </p>
    <p>
      <%= @data %>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
